<h2>Products</h2>

<ng-container *ngIf="products$ | async as products; else loading">

  <table *ngIf="products.length; else empty">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Stock</th>
      <th *ngIf="isAdmin">Actions</th>
    </tr>

    <tr *ngFor="let p of products">
      <td>{{ p.name }}</td>
      <td>{{ p.price | number }}</td>
      <td>{{ p.stock | number }}</td>
      <td>
        <button *ngIf="isAdmin" (click)="view(p.id)">View</button>
        <button *ngIf="isAdmin" (click)="edit(p.id)">Edit</button>
        <button *ngIf="isAdmin" (click)="remove(p.id)">Delete</button>
      </td>
    </tr>
  </table>

  <button *ngIf="isAdmin" class="btn-primary" (click)="create()">
    + New Product
  </button>

</ng-container>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>

<ng-template #empty>
  <p>No products found</p>
</ng-template>